
.H1{
    display: flex;
   
    text-transform: uppercase;
    
}
#H1{
    width: 100px;
    height:100px;
    display: flex;
    
    float:left;
}
#heading{
   margin: auto;
   word-wrap: break-word;

}

.topnavbar{
    background-color: darkseagreen;
    
    padding: 10;
    display: flex;
    justify-content: center;
    
}
.topnav{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

}
.navA{
    text-decoration:none;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topnav:hover{
    transform: scale(1.2);
    background-color: tomato;
}
.LL{
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;

}

#LL1{
    font-weight: bold;
}

/* ui{
    list-style-image: url("https://i.imgur.com/uXn2npT.png");
    height: 8px;
    width: auto;
} */
ul{
    list-style-image: url("https://i.imgur.com/5OlYr51.png");
    margin-left: 250px;
}
